:root {
  --pink: rgb(253, 165, 199);
  --light-pink: rgb(255, 197, 206);
  --rose: #c53a74;
  --dusty-rose: #bb6590;
  --deep-pink: deeppink;
  --dusk: #411a31;
  --darkest-pink: #970053;
}  
* {
  border: 1px solid var(--dusty-rose);
} 

body {
  margin: 1em;
  background: var(--darkest-pink);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--dusk);
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  background-color: var(--pink);
  flex-grow: 2;
  border: 2px solid var(--dusty-rose);
}

.b {
min-height: 60vh;
flex-grow: 5;
margin-top: 1em;
margin-bottom: 1em;
border: 2px solid var(--dusty-rose);
background-color: var(--rose);

}

.c, .d, .e {
  background-color: var(--pink);
  flex-grow: 1;
  border: 2px solid var(--dusty-rose);
}

@media (min-width: 600px){
  .container {
      flex-direction: row;
      flex-wrap: wrap;
      
  }
  
  .b {
      max-width: 80%;
      background-color: var(--rose);
      margin-right: 1em;
  }

  .a {
      width: 100%;
  }
  .c {
    max-width: 40%;
    margin-top: 1em;
    margin-bottom: 1em;

  }
}