:root {
  --pink: rgb(253, 165, 199);
  --light-pink: rgb(255, 197, 206);
  --rose: #c53a74;
  --dusty-rose: #bb6590;
  --dusty: rgb(190, 150, 171);
  --dusk: #411a31;
  --darkest-pink: #970053;
}  
/* * {
  border: 1px solid var(--light-pink);
}  */

/* mobile */

body {
  background: var(--darkest-pink);
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--dusk); */
}
.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  gap: 30px;
  /* justify-content:space-around; */
}
.big-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 3;
}
.inner {
  display: flex;
  flex: .5;
  gap: 30px;
}
.a, .b, .c, .d, .e, .f { 
  border: 2px solid var(--rose); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 2rem; 
}

.a {
  background-color: var(--pink);
  flex: 1;
  /* height: 3em; */
}

.b {
    flex: 2;
    background-color: var(--rose);
    
}

.c, .d, .e {
  flex: 1;
  background-color: var(--dusty-rose);
 }

.f {
  background-color: var(--pink);
  flex: .5;
  }

/* standard view */

@media (min-width: 800px){
  .container {
      flex-direction: row;
      flex-wrap: wrap;
     }
  
  .b {
      background-color: var(--dusty);
      /* margin-right: 1em; */
      flex-basis: 80%;
  }
  .a {
      flex-basis: 100%;
 }
  .inner {
    flex-basis: 40%;
     }   
  .c, .d, .e {
    width: 30%;
     }
  .f {
    max-width: 30%;
    } 
}